.button
    padding: 12px 24px
    border-radius: 8px
    border: none
    background-color: darken(lightblue, 30%)
    color: white
    font-weight: 500
    font-size: 14px

    cursor: pointer
    &:hover
        background-color: darken(lightblue, 40%)
    &:disabled
        background-color: gray
        color: #202020
        cursor: not-allowed
