.columnCards
    min-width: 270px
    background-color: darken(gray,40%)
    border-radius: 12px
    color: white
    padding: 10px
    display: flex
    flex-direction: column

    .listCards
        // background-color: black
        min-height: 10px
        display: flex
        flex-direction: column
        gap: 5px
        overflow-y: auto
        margin: 5px 0
        border-radius: 12px
