.closeButton 
    cursor: pointer
    padding: 5px
    border-radius: 30px
    display: flex
    align-items: center
    justify-content: center
    &:hover
        background-color: #53535320
        svg
            path
                fill: lighten(gray,30% )