.input
    overflow: hidden
    padding: 4px 16px
    padding-right: 8px
    display: flex
    align-items: center
    justify-content: space-between
    border-radius: 12px
    border: 2px solid darken(gray, 30% )
    height: 42px
    &:hover, &:focus-within, &:active
        border: 2px solid darken(lightblue, 20%)

    input
        background-color: inherit
        border: none
        color: white
        font-size: 14px
        flex: 1
        outline: none
